@media only screen and (max-width: 900px) {
  body {
    width: 100%;
    overflow: hidden;
  }

  .Navbar {
    top: 2%;
    position: fixed;
    z-index: 999;
    width: 100%;
  }

  .active_background {
    background-image: radial-gradient(
      circle at top left,
      rgb(48, 48, 48) 0%,
      rgb(48, 48, 48) 8%,
      rgb(46, 46, 46) 8%,
      rgb(46, 46, 46) 57%,
      rgb(43, 43, 43) 57%,
      rgb(43, 43, 43) 65%,
      rgb(41, 41, 41) 65%,
      rgb(41, 41, 41) 67%,
      rgb(39, 39, 39) 67%,
      rgb(39, 39, 39) 72%,
      rgb(36, 36, 36) 72%,
      rgb(36, 36, 36) 80%,
      rgb(34, 34, 34) 80%,
      rgb(34, 34, 34) 100%
    );
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
  }

  .items {
    width: 70%;
  }

  .fa-solid {
    margin: 0;
    margin-top: 0.5em;
  }

  .items .fa-solid:hover {
    font-size: 2.3em;
  }

  .title {
    width: 70%;
  }
  .container {
    margin-top: 17%;
   }

  /* About me */
  .mySec {
    display: flex;
    flex-direction: column;  
  }

  .myImg::before,.myImg {
    margin-left: auto;
    margin-right: auto;
  }

  .myImg{
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 750px) {
  .skl {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 30px; 
  }
  .proj_title {
    top: -10vh; 
   }
   
}

@media only screen and (max-width: 600px) {
  /* .Navbar {
    top: 2%;
    position: fixed;
    z-index: 999;
    width: 50%;
  } */


  .fa-solid {
    font-size: 2.5em;
    margin: 0;
    margin-top: 0.2em;
  }

  .items {
    height: 4em;
  }

  .fa-code {
    margin: 0.6em;
  }

  .items .fa-solid:hover {
    font-size: 2.8em;
    margin: 0;
    margin-top: 0.2em;
  }

  .content{
    width: 200%;
  }

  .title {
    width: 100%;
  }
  .one {
    font-size: 4em;
  }

  .two {
    left: 33%;
    font-size: 1.8em;
  }

  .hello{
    font-size: 2.6em;
  }

  .me {
    font-size: 3.2em;
  }

  .itemss {
    flex-direction: column;
  }

  .cv, .social {
    margin-left: auto;
    margin-right: auto;
  }

  .card .img{
    width: 50vh; 
    height: 30vh; 
  }
  
  .height img{
    height: 85%;  
    margin-left: 4%;
    margin-top: 5%;
  }
  
  .width img {
    width: 70%;
    margin-left: 15%;
    margin-top: 4%;
  }
} 

@media only screen and (max-width: 450px) {
  .hello {
    font-size: 2em;
  }
  .me {
    font-size: 3em;
  }

  .card .img{
    width: 40vh; 
    height: 25vh; 
  }
  
  .height img{
    height: 85%;  
    margin-left: 3%; 
    margin-top: 5%;
  }
  
  .width img {
    width: 70%;
    margin-left: 15%;
    margin-top: 4%;
  }
  .grocerio img {
    margin-top: -6%;
  }

  .container {
    margin-top: 22%;  
   }

   .email {
    position: relative;
    width: 50%; 
    margin-top: 3%; 
    margin-left: auto;
    margin-right: auto; 
  } 

  .mfg {
    margin-left: auto;
  }
}